.create-group {
  border-color: green;
  border-width: 2px;
  border-style: solid;
  max-width: 50%;
}

.create-group-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}