.create-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 50%;
}

.create-group-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.create-group-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.create-group-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.create-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}