.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 45%;
  padding: 1rem;
}

.group > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.get-metrics-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.hours-input-container {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hours-input-container > p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}