.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 45%;
  padding: 1rem;

  background-color: #3c3c3c;
}

.group > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.log-group {
  background-color: #2f2f2f;
  padding: .0rem .25rem;
  margin: 0.25rem 0;
  border-radius: 5px;
  word-break: break-word;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.get-metrics-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.hours-input-container {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hours-input-container > p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.status-pill {
  display: inline-block;
  border: 2px solid #ccc;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 20px;
  text-align: center;
}

.none {
  border-color: #9f0000;
  background-color: #ff9393;
  color: #9f0000;
}

.loading {
  border-color: #b66400;
  background-color: #ffd3a1;
  color: #b66400;
}

.done {
  border-color: #006400;
  background-color: #90ee90;
  color: #006400;
}

.copy-button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
}